body {
  margin: 0;
}
div,
p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#content {
  background: linear-gradient(
    10.32deg,
    #2f244d 12.47%,
    #6e3690 25.69%,
    #ffece4 48.29%,
    #6e3690 73.87%,
    #2f244d 94.34%,
    #2f244d 94.34%
  );

  position: fixed;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;

  font-family: 'KCCChassam';
}
img {
  width: 116px;
  height: 140px;
}
#chat_box {
  width: 323px;
  height: 592px;

  background: #e6e7ff;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  /**justify-content: space-between;**/

  overflow-y: auto;
  overflow-x: hidden;
}

.Q_box {
  display: flex;
  width: 323px;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
.Q {
  width: 172px;
  height: auto;
  min-height: 42px;

  font-size: 9px;
  line-height: 11px;

  background: #c0c7ff;
  border-radius: 15px;

  justify-content: center;
}

.A_box {
  display: flex;
  width: 323px;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.A {
  width: 182px;
  height: auto;
  min-height: 42px;

  font-size: 9px;
  line-height: 11px;

  background: #fffae1;
  border-radius: 15px;

  justify-content: center;
}

.M_box {
  display: block;
  width: 323px;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.M {
  width: 182px;
  height: auto;
  min-height: 42px;

  font-size: 9px;
  line-height: 11px;

  background: #fffae1;
  border-radius: 15px;

  justify-content: center;
}

.time {
  width: 42px;
  height: 12px;

  font-weight: 400;
  font-size: 7px;
  line-height: 9px;

  color: #000000;
}

.share {
  background: #ffcfc0;
  border-radius: 15px;

  /**position: absolute;
  width: 72px;
  height: 21px;
  left: 13px;
  top: 225px;**/

  font-size: 8px;
  line-height: 10px;
}
.replay {
  background: #ffcfc0;
  border-radius: 15px;

  /**position: absolute;
  width: 72px;
  height: 21px;
  left: 98px;
  top: 225px;**/

  font-size: 8px;
  line-height: 10px;
}
#input_box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#text_input {
  width: 245px;
  height: 48px;
  /**position: absolute;
  left: 9px;
  top: 533px;**/

  background: #c0c7ff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
#btn {
  width: 53px;
  height: 48px;
  /**position: absolute;
  left: 261px;
  top: 533px;**/

  background: #7451d3;
  border-radius: 10px;

  text-align: center;
  justify-content: center;

  margin: 5px;
}
#triangle {
  width: 0;
  height: 0;

  border-left: 18px solid #c0c7ff;
  border-bottom: 11px solid transparent;
  border-top: 11px solid transparent;
}
/*position:absolute 없애
메세지 길이 div 오토
시간이랑 메세지랑 하나로 태그 묶기-부모 rel 자식 absol
메시지 쌓이게
챗박스 스크롤 되게(안에서)*/

/* input box랑 chatBox랑 div 나눠서 space-btwn 하면 끝과 끝으로 갈 수 있고 고정 가능*/
